.MuiSvgIcon-root {
    color: var(--ion-color-primary);
}

.MuiSvgIcon-root.disabled {
    color: var(--ion-color-ligth);
}

.chip-container{
    .chip{
        flex: 50%;
        max-width: 50%;
    }
}