// flex

.flex {
    display: flex;
}


.flex-grow {
    flex-grow: 1;
}

.fd-col {
    flex-direction: column;
}

.f-wrap {
    flex-wrap: wrap;
}

.f-no-wrap {
    flex-wrap: nowrap;
}

.ai-b {
    align-items: baseline;
}

.ai-s {
    align-items: flex-start;
}

.ai-c {
    align-items: center;
}

.ai-e {
    align-items: flex-end;
}

.jc-s {
    justify-content: flex-start;
}

.jc-c {
    justify-content: center;
}

.jc-sb {
    justify-content: space-between;
}

.jc-sa {
    justify-content: space-around;
}

.jc-e {
    justify-content: flex-end;
}

.as-e {
    align-self: flex-end;
}

.as-c {
    align-self: center;
}


//margins

.mt-2 {
    margin-top: 3px;
}

.mt-4 {
    margin-top: 4px;
}

.mt-6 {
    margin-top: 6px;
}

.mt-8 {
    margin-top: 8px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-12 {
    margin-top: 12px;
}

.mt-14 {
    margin-top: 14px;
}

.mt-16 {
    margin-top: 16px;
}

.mt-18 {
    margin-top: 18px;
}


.mt-xs {
    margin-top: 6px;
}

.mt-s {
    margin-top: 12px;
}

.mt-m {
    margin-top: 18px;
}

.mt-l {
    margin-top: 24px;
}

.mt-xl {
    margin-top: 30px;
}


.mr-xs {
    margin-right: 6px;
}

.mr-s {
    margin-right: 12px;
}

.mr-m {
    margin-right: 18px;
}

.mr-l {
    margin-right: 24px;
}

.mr-xl {
    margin-right: 30px;
}

.mb-xs {
    margin-bottom: 6px;
}

.mb-s {
    margin-bottom: 12px;
}

.mb-m {
    margin-bottom: 18px;
}

.mb-l {
    margin-bottom: 24px;
}

.mb-xl {
    margin-bottom: 30px;
}

.ml-xs {
    margin-left: 6px;
}

.ml-s {
    margin-left: 12px;
}

.ml-m {
    margin-left: 18px;
}

.ml-l {
    margin-left: 24px;
}

.ml-xl {
    margin-left: 30px;
}

// width

.w-100 {
    width: 100%;
}

.w-90 {
    width: 90%;
}

// height

.h-100 {
    height: 100%;
}


//fonts

.fw-500 {
    font-weight: 500;
}


// font-size

.fs-xs {
    font-size: 12px;
}

.fs-s {
    font-size: 16px;
}

.fs-m {
    font-size: 20px;
}