ion-toolbar {
    --background: white;
    height: 60px;
}

.MuiAlert-standardInfo {
    position: absolute;
    z-index: 1000;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}